In [1]:
# Creating dataframe alongwith column names
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
df

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [2]:
df.shape

(3, 2)

In [3]:
df.columns

Index(['Name', 'Age'], dtype='object')

In [4]:
df['Name']

0      Alex
1       Bob
2    Clarke
Name: Name, dtype: object

In [5]:
df['Age'].min()

10

In [6]:
df['Age'].max()

13

In [7]:
df.describe()

             Age
count   3.000000
mean   11.666667
std     1.527525
min    10.000000
25%    11.000000
50%    12.000000
75%    12.500000
max    13.000000

In [8]:
df.Age>10

0    False
1     True
2     True
Name: Age, dtype: bool